@{
    ViewBag.Title = "Home Page";
}


<h1>Home page for my Home Work 5</h1>
<p>Welcome to the DMV of lies!</p>
<p>Here we are just like the DMV but without lines.
    Sounds great right? Yes but still nothing gets done.</p>

