
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This will be my home page.</h2>
<p>Here I have my landing page for my home work 4</p>

<ul>
    <li>@Html.ActionLink("Page 1", "Page1")</li>
    <li>@Html.ActionLink("Page 2", "Page2")</li>
    <li>@Html.ActionLink("Page 3", "Page3")</li>
</ul>

