
@{
    ViewBag.Title = "Page1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tempeture Calculater</h2>

<p>I will hopefully canvert tempetures from F, or C, or even K and compare them. I am doing this because I am not that inventive.</p>

<form action="Page1" method="get">
    <lablel for="tempet">Tempeture:</lablel><br>
    <input type="text" name="tempet" value="">
    <br>
    <lablel for="sysM">Original System Messurment:</lablel><br>
    <input type="text" name="sysM" value="">
    <br><br>
    <input type="submit" value="Submit"> 
    <br/>
</form> 

<p><br />
    @ViewBag.Message
    </p>

