
@{
    ViewBag.Title = "Page3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loan Calculator!</h2>
<p>Here again we can see my wanderful creative mind at work
    using a sujested project of my page.<br /> It is relaxing not to think
    creatively, I seem to always make things more difficalt for myself.</p>
<br/>
<form action="Page3" method="post">
    <lablel for="amount">Loan Amount:</lablel><br>
    <input type="text" name="amount" value="">
    <br>
    <lablel for="interest">Interest Rate:</lablel><br>
    <input type="text" name="interest" value="">
    <br>
    <lablel for="term">Length of the loan(how long are you taking it out for?(In years)):</lablel><br>
    <input type="text" name="term" value="">
    <br><br>
    <input type="submit" value="Submit">
    <br />
</form> 

<br /><br />
<p>
    @ViewBag.Answer3
</p>
