
@{
    ViewBag.Title = "Page1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tempeture Calculater</h2>

<p>I will hopefully canvert tempetures from F, or C, or even K. I am doing this because I am not that inventive.</p>


